<h1>Enter Your Memory</h1>
<%= simple_form_for @memory do |f| %>
  <%= f.input :memory %>
  <%= f.input :author %>
  <%= f.input :relationship %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-outline-danger' %>
<% end %>