<!DOCTYPE html>
<html>
  <head>
    <title>Grillmemories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="rocketgirl">
          <%= image_tag 'rocketgirl.png', class: 'img-fluid' %>
        </div>
      </div>
      <div class="col-4">
        <p class="grill">
        GRILL
        </p>
        <p class="slogan">
          Open later than you think
        </p>
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', "#" %>
      </div>
    </header>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
